html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
    width: 400px;
    margin: auto;
}

.button {
    padding: 20px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 50%;
    border: 2px solid #ef6e12;
    background: transparent;
    color: white;
    font-size: 20px;
}

.button1 {
    padding: 20px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: gray;
    font-size: 20px;
}

.button2 {
    padding: 20px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: orangered;
    font-size: 20px;
}

.button:hover,
.button1:hover,
.button2:hover {
    background: #ef6e12;
    color: #000;
    box-shadow: 0 0 20px #ef6e12;
}

.rows {
    margin: 8px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

input {
    width: 93%;
    font-size: 2rem;
    height: 62px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 18px;
    padding-left: 12px;
}